{% extends 'base.html' %}
{% block content %}
<h1>{{ title }}</h1>
{% include 'women_test/includes/nav.html' %}

<ul>
    {% for data in data_db %}
    {% if data.is_published %}
        <li>
            <h2>{{ data.title }}</h2>
            <p>{{ data.content }}</p>
            <p><a href="{% url 'post' data.id %}">Читать пост</a></p>
            {% if not forloop.last %}
            <hr>
            {% endif %}
        </li>
    {% endif %}
    {% endfor %}
</ul>

{% include 'women_test/includes/nav.html' %}
{% endblock %}


